{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <h1>Noticias</h1>
    <!--
    <form id="miFormulario" method="post">
        {% csrf_token %}
        <input id="nombre" name="nombre" type="text" placeholder="Nombre">
        <input id="apellidos" name="apellidos" type="text" placeholder="Apellidos">
        <input type="button" id="boton" value="Registrar">
    </form>
    -->
    <input type="button" id="muestra" value="Mostrar noticias">
    <select id="filter">
        <option value="">--------------</option>
    </select>
    <input type="button" id="buscar" value="Filtrar Noticias">
<script src="{% static 'js/prueba.js' %}"></script>
</body>
</html>
